* {
  font-family: "Play", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@media (max-width: 425px) {
  .login-image {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1440px) {
  .login-image {
    display: block;
  }
}

.login-main-container {
  text-align: center;
  width: 430px;
  height: 330px;
  border: 1px solid black;
  padding: 10px 20px;
}
form {
  display: flex;
  flex-direction: column;
}
.logo {
  margin-left: 160px;
}
.input-container input {
  border: 1px solid black;
  border-radius: 5px;
  height: 40px;
  color: white;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
}
.input-container input::placeholder {
  color: black;
  padding-left: 10px;
}
.login-btn {
  padding: 12px 20px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  background-color: rgb(17, 17, 71);
  margin-bottom: 20px;
}
.login-btn:hover {
  color: black;
  background-color: rgb(100, 100, 139);
}

.register p {
  color: black;
}
